* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --Pale_blue: hsl(225, 100%, 94%);
    --Very_pale_blue: hsl(225, 100%, 98%);
    --Bright_blue: hsl(245, 75%, 52%);
    --Desaturated_blue: hsl(224, 23%, 55%);
    --Dark_blue: hsl(223, 47%, 23%);
    --button-width: 80%;
    --upper-radius-pic: 20px 20px 0 0;
    --main-radius: 20px 20px 20px 20px;    
}

/* font-family: 'Red Hat Display', sans-serif; */

body {
    background-color: var(--Pale_blue);
}

main {
    width: 95%;
    max-width: 375px;
    background-color: white;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
    border-radius: var(--main-radius);
    box-shadow: -5px 5px 15px hsla(245, 75%, 52%, 0.144) , 5px 5px 15px hsla(245, 75%, 52%, 0.144);
}

.upper-header-pic {
    width: 100%;
    border-radius: var(--upper-radius-pic);
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.836);
}

.main-paragraph {
    width: 80%;
    margin: auto;
    color: var(--Desaturated_blue);
    line-height: 1.5em;
    margin-bottom: 1.4em;    
    font-size: 0.9rem;
}

.annual-content {
    display: flex;
    width: 80%;
    height: 5rem;
    margin: auto;
    background-color: var(--Very_pale_blue);
    border-radius: 10px;
}

.annual-pic {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.annual-pic img {
    width: 50%;
    height: 50%;    
}

.annual-content-plan {
    width: 49%;
    text-align: start;
    display: flex;
    flex-wrap: wrap; 
}

.annual-content-plan h2 {
    font-size: 0.9rem;
    align-self: flex-end;
    width: 100%;
    font-weight: 700;
}

.annual-content-plan p {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--Desaturated_blue);
} 

.annual-button {
    width: 27%;
    align-self: center;
}

.annual-button a {
    font-size: 0.8em;
    font-weight: 700;
    color: var(--Bright_blue);
}

.annual-button a:hover {
    text-decoration: none;
    color: var(--Desaturated_blue);
}

.payment-button {
    display: block;
    display: flex;
    width: var(--button-width);
    margin: auto;
    margin-top: 2rem;
    background-color: var(--Bright_blue);
    color: var(--Very_pale_blue);
    text-decoration: none;
    height: 3em;
    align-items: center;
    justify-content: center; 
    box-shadow: 0px 20px 10px hsla(245, 75%, 52%, 0.144);
    border-radius: 10px;
    font-size: 0.8rem;
}

.payment-button:hover {
    background-color: hsl(256, 55%, 53%);
}
 
.cancel-button {
    display: block;
    display: flex;
    width: var(--button-width);
    margin: auto;
    margin-top: 1.9rem;
    padding-bottom: 2rem;    
    color: var(--Desaturated_blue);
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 700;
}

.cancel-button:hover {
    color: rgba(0, 0, 0, 0.836);
}

footer {
    text-align: center;
    margin-top: 2rem;
}

@media only screen and (min-width: 601px) {
    
    body {
        background-image: url(/images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -400px;
    }

    footer {       
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center; 
        transition: 0.7s ease-in-out;   
    }

    footer p {
        padding-left: 0.3em;
        
    }

    footer:hover {
        transform: scale(1.1);
    }

}